.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2px;
  width: 684px;
  height: 684px;
  background-color: rgb(179, 179, 179);
}
@media only screen and (max-width: 1400px) {
  .board {
    width: calc(50vw - 1rem);
    height: calc(50vw - 1rem);
  }
}
@media only screen and (max-width: 900px) {
  .board {
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem);
  }
}
