.board_field {
  cursor: pointer;
  background-color: #fff2c7;
}

.possible {
  background-color: rgb(177, 189, 6);
}

.clicked {
  background-color: rgb(13, 54, 13);
}
.desired {
  background-color: rgb(92, 47, 17);
}
