.board_field {
  cursor: pointer;
  background-color: #fff2c7;
}

.generated {
  background-color: rgb(92, 47, 17);
}

.possible {
  background-color: rgb(177, 189, 6);
}

.clicked {
  background-color: rgb(16, 82, 16);
}
