.container {
  display: flex;
  max-width: 1400px;
  margin: auto;
  padding: 0 1rem;
  height: 684px;
  @media only screen and (max-width: 1400px) {
    height: calc(50vw - 1rem);
  }

  @media only screen and (max-width: 900px) {
    flex-direction: column;
    height: auto;
  }
}

.board {
  position: relative;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);

  grid-gap: 2px;
  width: 684px;
  height: 684px;
  background-color: rgb(197, 179, 179);
  .bottom {
    padding: 0.5rem 0;
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
      text-align: center;
      width: 6rem;
      @media only screen and (max-width: 450px) {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  @media only screen and (max-width: 1400px) {
    width: calc(50vw - 1rem);
    height: calc(50vw - 1rem);
  }
  @media only screen and (max-width: 900px) {
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem);
  }
}

.playerstats {
  position: relative;
  margin-left: 1rem;
  padding: 1rem;
  width: 684px;
  background-color: rgba(128, 128, 128, 0.2);
  overflow-y: auto;

  .change {
    position: absolute;
    font-size: 1rem;
    right: 1rem;
    top: 0.4rem;

    padding: 0.5rem;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.1s;
    &:hover {
      background-color: rgb(54, 53, 53);
    }
  }
  @media only screen and (max-width: 1400px) {
    width: calc(50vw - 1rem);
    height: auto;
  }
  @media only screen and (max-width: 900px) {
    width: calc(100vw - 2rem);
    margin-left: 0rem;
    margin-top: 2.5rem;
  }
}
