.container {
  display: flex;
  max-width: 1400px;
  margin: auto;
  padding: 0 1rem;
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2px;
  width: 684px;
  height: 684px;
  background-color: rgb(197, 179, 179);
}
@media only screen and (max-width: 1400px) {
  .board {
    width: calc(50vw - 1rem);
    height: calc(50vw - 1rem);
  }
}
@media only screen and (max-width: 900px) {
  .board {
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem);
  }
}

.gamestats {
  margin-left: 1rem;
  padding: 1rem;
  width: 684px;
  background-color: rgba(128, 128, 128, 0.2);
}
@media only screen and (max-width: 1400px) {
  .gamestats {
    width: calc(50vw - 1rem);
    height: calc(50vw - 1rem);
  }
}
@media only screen and (max-width: 900px) {
  .gamestats {
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem);
    margin-left: 0rem;
    margin-top: 1rem;
  }
}
