.info {
  margin-left: 1rem;
  width: 684px;

  background-color: rgba(128, 128, 128, 0.2);
}
@media only screen and (max-width: 1400px) {
  .info {
    width: calc(50vw - 1rem);
    height: calc(50vw - 1rem);
  }
}
@media only screen and (max-width: 900px) {
  .info {
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem);
    margin-left: 0rem;
    margin-top: 1rem;
  }
}
