.box {
  margin-bottom: 1rem;

  p {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.3rem;
    color: rgb(202, 18, 18);
    border-bottom: 1px solid rgb(26, 25, 25);
  }
  .levelsstats {
    margin: 0.5rem 0;

    .levelstats {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.9rem;
      background-color: rgb(214, 210, 206);
      margin: 0.2rem 0;

      div {
        width: 30%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          margin-left: 0.5rem;
          cursor: pointer;
        }

        &:last-child {
          width: 25%;
        }
        .popup {
          position: absolute;
          padding: 1rem;
          background-color: rgb(104, 103, 102);
          width: 11rem;
          list-style: none;
          color: white;
          svg {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
          }
        }
      }
    }
  }
}
